.animated-tabs .slider{
  width: 50%;
}
::ng-deep .ag-theme-custom {
  border-radius: 12px;

  .ag-header {
    background-color: #f3f4f6;
    font-weight: 600;
    font-size: 14px;
  }

  .ag-row {
    font-size: 14px;
    border-bottom: 1px solid #e5e7eb;
  }

  .ag-cell {
    display: flex;
    align-items: center;
    padding: 8px;
  }

  img {
    object-fit: cover;
  }
}


::ng-deep .ag-theme-alpine :where(.ag-checkbox-input-wrapper.ag-checked) {
  background-color: #FFA157 !important;
  border-color: #FFA157 !important;
}


// .tab.active {
//   padding: 10px 25px;
//   border-radius: 20px;
//   background-color: #ffa856;
//   color: white;
// }
// .tab:not(.active) {
//   //  padding: 10px 35px;
//   border-radius: 20px;
//   // color: #4b5563;
//    background-color: white;
// }