<div class="min-h-screen flex items-center justify-center">
  <div class="flex flex-col md:flex-row bg-white shadow-md rounded-md overflow-hidden w-full max-w-5xl">
    
  <div class="md:w-1/2 bg-orange-500 flex items-center justify-center p-8">
  <div class="relative w-full overflow-hidden rounded-lg max-w-xs">
    <div #sliderRef class="slider flex transition-transform duration-1000 ease-in-out"
          [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
         [style.transition]="isTransitionEnabled ? 'transform 1s ease-in-out' : 'none'"
        >
        <img *ngFor="let img of imageList"
           [src]="img"
           alt="Doctor"
           class="w-full h-auto object-contain flex-shrink-0" />


           <img [src]="imageList[0]"
           alt="Clone"
           class="w-full h-auto object-contain flex-shrink-0" />
    </div>
  </div>
  </div>
<div class="w-1/2 p-12 flex flex-col justify-center">
    <form *ngIf="isshowForm" [formGroup]="registerForm" (ngSubmit)="onSignin()" class="w-full max-w-sm space-y-4">
      <h2 class="text-3xl font-semibold text-orange-500">Forgot password</h2>
       <p class="text-sm text-gray-600 mb-3">
        We sent a reset link to Please enter your email to reset the password
      </p>
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-2">Your Email</label>
        <input
          type="email"
          formControlName="email"
          placeholder="Please Enter Email"
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
           [ngClass]="{
              'border-red-500': registerSubmitted && registerUser['email'].invalid,
              'border-green-500': registerSubmitted && registerUser['email'].valid
            }"
          />
          <div *ngIf="registerSubmitted && registerUser['email'].errors" class="text-sm text-red-500 mt-1">
            <div *ngIf="registerUser['email'].errors['required']">Email is required</div>
            <div *ngIf="registerUser['email'].errors['email']">Email is invalid</div>
          </div>
      </div>
      <button type="submit" class="w-full bg-orange-500 text-white py-2 rounded-md hover:bg-orange-600 transition mt-3">
        Reset Password
      </button>
    </form>
    <div *ngIf="isshowotpSection" class="w-full max-w-sm text-center">
      <h2 class="text-2xl font-semibold text-gray-800 mb-2">Check your email</h2>
      <p class="text-sm text-gray-600 mb-6">
        We sent a reset link to <strong class="text-black">{{ useremail }}</strong><br />
        Enter the 6-digit code that was mentioned in the email
      </p>
      <form [formGroup]="registerForm" (ngSubmit)="isVerify()">
        <div formArrayName="otp" class="flex justify-center space-x-2 mb-6">
          <ng-container *ngFor="let ctrl of otpControls.controls; let i = index">
            <input
              type="text"
              maxlength="1"
              [formControlName]="i"
              class="w-12 h-12 text-center border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
              (input)="moveToNext($event, i)"
            />
          </ng-container>
        </div>

        <button type="submit" class="w-full bg-orange-500 text-white py-2 rounded-md hover:bg-orange-600 transition">
          Verify Code
        </button>
      </form>

      <p class="text-sm text-gray-600 mt-4">
        Haven’t got the email yet?
        <a  class="text-orange-500 cursor-pointer" (click)="resendMail()">Resend email</a>
      </p>
    </div>

    <form *ngIf="isshowonextForm" [formGroup]="registerNextForm" (ngSubmit)="updatePassword()" class="w-full max-w-sm space-y-4">
      <h2 class="text-3xl font-semibold text-orange-500">Set a new password</h2>

      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1">Your Email</label>
        <input
  type="email"
  [value]="useremail"
  placeholder="Please Enter Email"
  class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
  disabled
/>

       
      </div>

      <div class="relative">
        <label class="block mb-1 font-medium">Password</label>
        <input
          type="password"
          formControlName="adminPassword"
          placeholder="Password"
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
          (focus)="showPasswordPopup = true"
          (blur)="showPasswordPopup = false"
        />

        <div *ngIf="showPasswordCriteria">
          <div
            *ngIf="showPasswordPopup || registerNextFormUser['adminPassword']?.touched"
            class="absolute top-full mt-2 w-72 bg-white border border-gray-300 rounded shadow text-sm p-3 z-50"
          >
            <div class="text-red-600 font-medium mb-1">Password must contain:</div>
            <ul class="list-disc pl-5 space-y-1 text-gray-700">
              <li [class.text-green-600]="!passwordValid.hasUpperCase" [class.text-red-600]="passwordValid.hasUpperCase">One uppercase</li>
              <li [class.text-green-600]="!passwordValid.hasLowerCase" [class.text-red-600]="passwordValid.hasLowerCase">One lowercase</li>
              <li [class.text-green-600]="!passwordValid.hasNumber" [class.text-red-600]="passwordValid.hasNumber">One number</li>
              <li [class.text-green-600]="!passwordValid.hasSpecialChar" [class.text-red-600]="passwordValid.hasSpecialChar">One special character</li>
              <li [class.text-green-600]="!passwordValid.minLength" [class.text-red-600]="passwordValid.minLength">Minimum 8 characters</li>
            </ul>
          </div>
        </div>
      </div>

      <div>
        <label class="block mb-1 font-medium">Confirm Password</label>
        <input
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
          [ngClass]="{
            'border-red-500': registerSubmitted && registerNextFormUser['confirmPassword'].invalid,
            'border-green-500': registerSubmitted && registerNextFormUser['confirmPassword'].valid
          }"
        />
        <div *ngIf="registerNextForm.get('confirmPassword')?.touched || registerNextForm.get('confirmPassword')?.dirty" class="text-sm text-red-500 mt-1">
          <div *ngIf="registerNextForm.get('confirmPassword')?.errors?.['required']">Confirm password is required</div>
          <div *ngIf="registerNextForm.errors?.['passwordMismatch']">Passwords do not match</div>
        </div>
      </div>

      <button type="submit" class="w-full bg-orange-500 text-white py-2 rounded-md hover:bg-orange-600 transition">
        Update Password
      </button>
    </form>
  </div>
</div>


   






