<div>
  <div class="mb-4">
    <h1 class="text-2xl font-semibold text-gray-900">Manage Dropdowns</h1>
  </div>

  <div class="animated-tabs mb-3" #tabContainer>
    <div
      class="slider"
      [ngStyle]="{
        width: sliderWidth,
        left: sliderLeft
      }"
    ></div>

    <div
      class="tab"
      *ngFor="let tab of tabs; let i = index"
      [class.active]="activeTab === tab.id"
      (click)="setActiveTab(tab.id, i)"
      #tabItem
    >
      <i [class]="tab.icon"></i>
      <span>{{ tab.label }}</span>
    </div>
  </div>

  <div class="tab-content">
    <app-countries-data *ngIf="activeTab === 'countries'"></app-countries-data>
    <app-lookup-data *ngIf="activeTab === 'lookup'"></app-lookup-data>
    <app-medication *ngIf="activeTab === 'medication'"></app-medication>
    <app-diagnosis *ngIf="activeTab === 'diagnosis'"></app-diagnosis>
    <app-cheif-complaint *ngIf="activeTab === 'chiefComplaint'"></app-cheif-complaint>
  </div>
</div>
