::ng-deep .custom-grid-theme .ag-header {
  background-color: #3863A7 !important;
  color: white;
}

::ng-deep .custom-grid-theme .ag-header-cell-label {
  color: white;
}

::ng-deep .custom-grid-theme .ag-cell {
  color: black;
;
}
