<div class="min-h-screen flex items-center justify-center p-4">
  <div class="flex flex-col md:flex-row bg-white shadow-md rounded-md overflow-hidden w-full max-w-5xl">
    
    <div class="w-full md:w-1/2 bg-orange-400 flex items-center justify-center p-6 sm:p-8">
      <div class="relative w-full max-w-xs overflow-hidden rounded-lg">
        <div
          #sliderRef
          class="slider flex transition-transform duration-1000 ease-in-out"
          [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
          [style.transition]="isTransitionEnabled ? 'transform 1s ease-in-out' : 'none'"
        >
          <img
            *ngFor="let img of imageList"
            [src]="img"
            alt="Doctor"
            class="w-full h-auto object-contain flex-shrink-0"
          />
          <img
            [src]="imageList[0]"
            alt="Clone"
            class="w-full h-auto object-contain flex-shrink-0"
          />
        </div>
      </div>
    </div>

    <div class="w-full md:w-1/2 p-6 sm:p-8">
      <h2 class="text-1xl sm:text-2xl font-semibold text-text-orange mb-6 mt-4 sm:mt-5 text-center">
        Sign in to your account
      </h2>

      <form class="space-y-5" [formGroup]="loginForm" (ngSubmit)="onloginSubmit()" class="space-y-4">
          <div>
            <label class="block text-sm font-medium text-gray-700 mb-1">Email Address</label>
            <input type="email" placeholder="Enter your email" formControlName="usernameOrEmail"
                   class="form-control"
              
              [ngClass]="{
              'border-red-500': loginSubmitted && loginUser['usernameOrEmail'].invalid,
              'border-green-500': loginSubmitted && loginUser['usernameOrEmail'].valid
            }"
                   >

           <div *ngIf="loginSubmitted && loginUser['usernameOrEmail'].errors" class="text-sm text-red-500 mt-1">
  <div *ngIf="loginUser['usernameOrEmail'].errors['required']">Email is required</div>
  <div *ngIf="loginUser['usernameOrEmail'].errors['invalidComEmail']">Enter valid email</div>
</div>

          </div>

         <div>
  <label class="block text-sm font-medium text-gray-700 mb-1">Password</label>
  <div class="relative">
    <input
      [type]="showPassword ? 'text' : 'password'"
      placeholder="Enter your password"
      formControlName="password"
      class="form-control"
      (input)="onPasswordInput()"
      [ngClass]="{
        'border-red-500': loginSubmitted && loginUser['password'].invalid,
        'border-green-500': loginSubmitted && loginUser['password'].valid
      }"
    />
    <div *ngIf="PasswordValue?.length > 0"
      class="absolute inset-y-0 right-3 flex items-center text-gray-400 cursor-pointer"
      (click)="togglePasswordVisibility()"
    >
      <i [class]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
    </div>

    <div *ngIf="loginSubmitted && loginUser['password']['errors']" class="text-sm text-red-500 mt-1">
      <div *ngIf="loginUser['password']['errors']['required']">Password is required</div>
    </div>
  </div>
</div>


          <div class="flex items-center justify-between text-sm">
            <label class="flex items-center space-x-2">
              <input type="checkbox" class="rounded border-gray-300">
              <span class="text-gray-600">Remember me</span>
            </label>
            <a  [routerLink]="['/forgot-password']" class="text-orange-500 hover:text-primary-orange cursor-pointer">Forgot password?</a>
          </div>

          <button type="submit"
                  class="w-full bg-orange-400 text-white py-2 rounded-md font-semibold hover:bg-orange-500 transition">
            Sign In<i class="fas fa-arrow-right ml-3"></i>
          </button>

          <p class="text-center text-sm text-gray-600 cursor-pointer"  [routerLink]="['/register']">
            Don’t have an account?
            <a class="text-orange-500 hover:text-primary-orange">Sign up</a>
          </p>
        </form>

        <p class="text-xs text-center text-gray-400 mt-6 ">
          By signing in, you agree to our
          <a  class="text-orange-500 hover:text-primary-orange cursor-pointer">Terms of Service</a>
          and
          <a  class="text-orange-500 hover:text-primary-orange cursor-pointer">Privacy Policy</a>.
        </p>
    </div>
  </div>
</div>
