
<div class="dashboard-container container">
<div class="animated-tabs">
  <div class="slider"></div>
  <div class="tab" [class.active]="selectedTab === 'list-patients'" (click)="setTab('list-patients')">
      <i class="fas fa-calendar-days"></i>
      <span>patients List</span>
    </div>
  <!-- <div class="tab" [class.active]="selectedTab === 'patients-insurances'" (click)="setTab('patients-insurances')">
      <i class="fas fa-plus-circle"></i>
      <span>Add insurances</span>
    </div> -->
</div>

<div *ngIf="selectedTab === 'list-patients'" class="card-wrapper mb-4">
    <div class="container mx-auto p-1">
  <!-- <h4 class="text-2xl font-semibold  text-primary-border-color">Patients List</h4> -->
  <div class="mt-4 rounded-xl bg-white">
     <div class="flex gap-2 justify-between mb-3">
      <div class="relative flex items-center">
      <input
        type="text"
        id="searchInput"
        class="w-full px-4 m-2 py-2 border border-gray-300 rounded-l-lg focus:outline-none focus:ring-2 focus:ring-primary-border-color focus:border-transparent"
        [(ngModel)]="searchValue"
       
        placeholder="Search patients...">
      <button
        class="px-4 py-2 bg-gray-100 text-gray-600 border border-l-0 border-gray-300 rounded-r-lg hover:bg-primary-border-color hover:text-white transition-colors"
        *ngIf="searchValue"
        (click)="searchValue=''; onQuickFilterChanged()">
        Clear
      </button>
    </div>
    
 <button 
  class="flex items-center gap-2 px-2.5 py-1 border border-green-600 text-green-600 rounded-md text-sm hover:bg-green-600 hover:text-white transition"
  (click)="onExportClick()"
>
  <i class="fas fa-file-excel text-sm"></i>
  <span>Export Excel</span>
</button>
</div>

  

<ag-grid-angular
  class="ag-theme-alpine ag-theme-custom"
  [gridOptions]="gridOptions"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [pagination]="true"
  [paginationPageSize]="paginationPageSize"
    (cellClicked)="onCellClicked($event)"
  style="width: 100%; height: 500px;">
</ag-grid-angular>

<!-- <app-common-ag-grid
  [rowData]="users"
  [columnDefs]="columnDefs"
  [paginationPageSize]="10"
  [paginationPageSizeSelector]="[10, 20, 50, 100]"
  (edit)="onEditAction($event)"
  (delete)="onDeleteAction($event)">
</app-common-ag-grid> -->


</div>
</div>
</div>

<div *ngIf="showInsurancePopup"
     class="fixed inset-0 bg-black/50 backdrop-blur-sm flex items-center justify-center z-50">

  <div class="bg-white w-full max-w-4xl rounded-2xl shadow-xl p-6 relative">

    <button type="button" (click)="closeInsurancePopup()"
      class="absolute top-3 right-3 text-gray-500 hover:text-gray-800">
      <i class="fa-solid fa-xmark text-xl"></i>
    </button>

    <div class="flex items-center gap-2 border-b pb-3 mb-4">
      <i class="fas fa-plus-circle text-orange-400 text-xl"></i>
      <h2 class="text-lg font-semibold text-gray-800">Add Insurance</h2>
    </div>

    <form [formGroup]="patientsInusranceForm" (ngSubmit)="saveForm()">
      <div class="space-y-4">
        <div class="grid md:grid-cols-3 gap-4">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Name of Insurance Carrier</mat-label>
            <mat-select formControlName="insuranceCarrier" multiple>
              <mat-option *ngFor="let insurance of insuranceArr" [value]="insurance.id">
                {{ insurance.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Name of Policy Holder</mat-label>
            <input matInput placeholder="Enter Firstname" formControlName="plicyname" />
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Relationship</mat-label>
            <input matInput placeholder="Enter Relationship" formControlName="relationship" />
          </mat-form-field>
        </div>
        <div class="grid md:grid-cols-3 gap-4">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Co-pay</mat-label>
            <input matInput placeholder="Enter Co-pay" formControlName="copay" />
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Member ID Number</mat-label>
            <input matInput placeholder="Enter Member ID Number" formControlName="membernumber" />
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Group Number</mat-label>
            <input matInput placeholder="Enter Group Number" formControlName="groupnumber" />
          </mat-form-field>
        </div>
        <div class="text-right pt-2">
          <button type="submit"
                  class="customBtn-secondary">
            <i class="fa-solid fa-floppy-disk mr-2"></i> Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>



