<div class="dashboard-container">
  <div class="container mx-auto p-1">
    <h4 class="text-2xl font-semibold text-primary-border-color mb-2">Patients Invoice List</h4>

    <!-- Search Box -->
    <div class="w-full flex justify-end">
      <div class="mb-2">
        <div class="relative flex items-center">
          <input
            type="text"
            id="searchInput"
            class="w-full px-4 m-2 py-2 border border-gray-300 rounded-l-lg focus:outline-none focus:ring-2 focus:ring-[#3863A7] focus:border-transparent"
            [(ngModel)]="searchValue"
            (input)="onQuickFilterChanged()"
            placeholder="Search patients..." />
          <button
            class="px-4 py-2 bg-gray-100 text-gray-600 border border-l-0 border-gray-300 rounded-r-lg hover:bg-[#3863A7] hover:text-white transition-colors"
            *ngIf="searchValue"
            (click)="searchValue=''; onQuickFilterChanged()">
            Clear
          </button>
        </div>
      </div>
    </div>

    <!-- AG Grid -->
    <ag-grid-angular
      class="ag-theme-alpine ag-theme-custom"
      style="width: 100%;"
      [gridOptions]="gridOptions"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [pagination]="true"
      [paginationPageSize]="7"
      (cellClicked)="onCellClicked($event)"
      [paginationPageSizeSelector]="[7, 20, 50, 100]"
      [domLayout]="'autoHeight'"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
</div>


